/* You can add global styles to this file, and also import other style files */
//font-awsome
// $fa-font-path: "../node_modules/font-awesome/fonts";
// @import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
// @import url(//fonts.googleapis.com/earlyaccess/hannari.css);
* {
//   font-family: 'Hannari', serif;
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// color
$lightBlue:#4A90E2;
$darkBlue:#00408B;
$red:#D0021B;
$yellow:#F5A623;
$lightYellow:#FFF2DC;
$lightGray:#F2F2F2;
$middleGray:#C8C8C8;
$darkGray:#757575;
$white:#FFFFFF;
$black:#000000;
$borderGray:#E1E1E1;